@tailwind base;
@tailwind components;
@tailwind utilities;

.my-input {
    @apply py-2 px-4 focus:border-none  rounded-xl border-2 border-gray-300
}

html{
    scroll-behavior: smooth;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animation--rotate {
    animation: rotate 10s linear infinite;
}